.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("https://picsum.photos/1200/800") no-repeat center center;
  background-size: cover;
}

.card {
  width: 300px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}